.benefits
    padding: 130px 0
    .grid
        display flex
    .video
        width: 50%
        padding: 0 50px 0 40px
        .play
            width: 100%
            max-width: 770px
            height: 370px
            border-radius: 15px
            background: #d4d4d4
    .text
        flex: 1
    h2
        margin-bottom: 50px
    ul
        list-style-type: none
        padding: 0
        li
            display flex
            align-items: center
            &:not(:last-child)
                margin-bottom: 20px
            .icon
                color: $color.primary
                font-size: 30px
                margin-right: 13px
            .text
                font-size: 20px
                font-weight: 500