header
    width 100%
    position: absolute
    top 0
    left: 0
    padding: 30px 0
    z-index: 9999
    .grid
        display flex
        justify-content: flex-end
        align-items: center
    .logo
        margin-right: auto
        img
            width: 144px
            height 35px
    .menu
        display flex
        a
            font-size: 16px
            color: white
            text-transform: uppercase
            font-weight: bold
            letter-spacing: 0.4px
            &:not(:last-child)
                margin-right: 50px
    .ui-button
        margin-left: 100px