header
    width 100%
    position: fixed
    top 0
    left: 0
    height: 100px
    z-index: 9999
    display flex
    align-items: center
    transition: .2s
    &.scrolled
        .menu
            a
                color: $color.secondary
                &::after
                    background: $color.secondary
    .container
        width: 1320px
        max-width 100%
        padding: 0 40px
    .grid
        display flex
        justify-content: flex-end
        align-items: center
    .logo
        margin-right: auto
        img
            width: 144px
            height 35px
    .menu
        display flex
        a
            font-size: 16px
            color: white
            text-transform: uppercase
            font-weight: bold
            letter-spacing: 0.4px
            padding: 10px 0
            position relative
            &::after
                content ''
                width: 0
                height: 2px
                background: white
                margin-top: 10px
                transition: width ease-in-out .2s
                position: absolute
                bottom: 0
                left: 0
            &:hover
                &::after
                    width: 100%
            &:not(:last-child)
                margin-right: 50px
    .ui-button
        margin-left: 100px