.try-it-section
    background-image: $gradient-main
    position: relative
    overflow hidden
    padding: 50px 0
    +above($bp.lg)
        height 275px
    .grid
        display flex
        flex-direction: column
        z-index: 1
        position relative
    img
        height: 140%
        position: absolute
        top: -20%
        right: calc((100% - 1240px) / 2)
    h2
        font-size: 24px
        color: white
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
        margin-bottom: 30px
    p
        font-size: 20px
        color: white
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
        margin-bottom: 50px
        +below($bp.lg)
            font-size: 18px
    .try-it
        max-width 550px